<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans

http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean class="com.kartik.springframework.POJO" name="Appone">

   <property name="stud_id">
   <value>1</value>
   </property>
   
   
   <property name="stud_name">
   <value>KARTIK</value>
   
   </property>
   
   <property name="stud_address">
     <value>"INDIA"</value>
   </property>
</bean>

</beans>
